@inherits UmbracoTemplatePage
<article id="@Model.Content.Name.Replace(' ', '-')" class="section-wrapper clearfix" data-custom-background-img="@(CurrentPage.HasValue("Background")?Umbraco.Media(CurrentPage.Background).umbracoFile:string.Empty)">
    <div class="content-wrapper clearfix">
        <h1 class="section-title">@Umbraco.Field("Title")</h1>
        <div id="features-carousel" class="carousel slide with-title-indicators max-height" data-height-percent="70" data-ride="carousel">
            <!-- Indicators - slide navigation -->
            <ol class="carousel-indicators title-indicators">
                @foreach (var child in Model.Content.Children.Take(1))
                {
                    <li data-target="#features-carousel" data-slide-to="0" class="active">@child.GetProperty("ShortName").Value</li>
                }
                @{ int i = 1;}
                @foreach (var child in Model.Content.Children.Skip(1))
                {
                    <li data-target="#features-carousel" data-slide-to="@(i++)">@child.GetProperty("ShortName").Value</li>
                }
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    @foreach (var child in Model.Content.Children.Take(1))
                    {
                        @Umbraco.RenderTemplate(child.Id)
                    }
                </div><!-- .item -->
                @foreach (var child in Model.Content.Children.Skip(1))
                {
                    @Umbraco.RenderTemplate(child.Id)
                }
            </div><!-- .carousel-inner -->
            <!-- Controls -->
            <a class="left carousel-control" href="#features-carousel" data-slide="prev"></a>
            <a class="right carousel-control" href="#features-carousel" data-slide="next"></a>
        </div><!-- #about-carousel -->
    </div><!-- .content-wrapper -->
</article><!-- .section-wrapper -->