@using Terapevt.Web.Models
@inherits UmbracoTemplatePage
@{
    Layout = null;
}
<article id="@Model.Content.Name.Replace(' ', '-')" class="section-wrapper clearfix" data-custom-background-img="@(CurrentPage.HasValue("Background")?Umbraco.Media(CurrentPage.Background).umbracoFile:string.Empty)">
    <div class="content-wrapper clearfix">
        <h1 class="section-title">@Umbraco.Field("Title")</h1>
        <div class="contact-details col-sm-5 col-md-3">
            <p>@Umbraco.Field("Phone")</p>
            <p><a href="mailto:@Umbraco.Field("Email")">@Umbraco.Field("Email")</a></p>
            <p><a style="border: none;" href="skype:@Umbraco.Field("Skype")?chat" title="Skype"><img src="/images/skype.png" alt="Skype" /> @Umbraco.Field("Skype")</a></p>
        </div>
        <div class="col-sm-7 col-md-9">
            @Html.Partial("~/Views/Partials/_ContactForm.cshtml", new EmailMessageModel())
        </div>
    </div>
</article>